
<div class="new-player">
    <div class="navigation">
        <ul>
          <li><a routerLink="/">List</a></li> | 
          <li><a routerLink="/players/create">Add a New Player</a></li>
        </ul>
      </div>
    <h1>Add a new Player</h1>
   <form (submit)='onSubmit($event, playerForm)' #playerForm = 'ngForm'>
     <div>
       <label for="name">Player Name</label>
        <input type="text" name="name" [(ngModel)] = 'player.name' required>
      </div>
     <div>
       <label for="position">Preferred Position</label>
        <input type="text" name="position" [(ngModel)] = 'player.position'>
      </div>
      <button *ngIf = 'playerForm.valid'>Submit</button>
   </form>
  </div>