<!-- <app-player-create (createPlayer)='onCreate($event)'></app-player-create> -->

<div class="player-list">
  <div class="navigation">
    <ul>
      <li><a routerLink="/">List</a></li> | 
      <li><a routerLink="/players/create">Add a New Player</a></li>
    </ul>
  </div>
    <table>
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Player Position</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let player of players'>
          <td>{{ player.name }}</td>
          <td>{{ player.position  }}</td>
          <td><button id = 'red-button' (click) = 'onDelete($event, player)'>Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>