<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Sloths Page</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Slothtopia!</h1>
        <h3>Choose your Sloth!</h3>
        <table class="u-full-width">
            <tr>
                <th><a href="">Sloth 1</a></th>
                <th><a href="">Sloth 2</a></th>
                <th><a href="">Sloth 3</a></th>
            </tr>
            <tr>
                <th><a href="">Sloth 4</a></th>
                <th><a href="">Sloth 5</a></th>
                <th><a href="">Sloth 6</a></th>
            </tr>
            <tr>
                <th><a href="">Sloth 7</a></th>
                <th><a href="">Sloth 8</a></th>
                <th><a href="">Sloth 9</a></th>
            </tr>
        </table>

    </div>
    
</body>
</html>