<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Add a new sloth!</title>
</head>
<body>
    <div class="container">
        <h2>Add a new sloth!</h2>
        <form action="/sloths" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="">
            <label for="toes">Number of toes</label>
            <input type="number" name="toes" id="">
            <label for="species">Species</label>
            <input type="text" name="species" id="">
            <label for="description">Description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
            <button type="submit">Add</button>
        </form>
    </div>   
</body>
</html>