/* * {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
#container {
    width: 80%;
    margin: 0 auto;
    font: 100 12pt "Helvetica Neue", sans-serif;
    text-align: center;

}
h1 {
    font-size: 60pt;
}
a {
    text-decoration: none;
}
a:hover {
    color: blue;
}
#content {
    margin-top: 10px;
}