<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <title>Secret</title>
</head>
<body>
    <div class="container">
        <a href="/secrets" class="button">Home</a>
        <h2><%= secret.content %></h2>
        <% secret.comments.forEach(function(comment) {%>
            <div class="coms">
                <h5> <%= comment.com_content %>  </h5>              
            </div>
            <% }); %>

        <form action="/comments/<%= secret._id %>" method="post">
            <label for="comment">Add your comment:</label>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <button type="submit">Add</button>
        </form>
    </div>  
</body>
</html>